.container {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 50%;
  border: 1px solid rgba(38, 38, 38, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
