.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(38, 38, 38, 0.3);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .backdrop {
    padding: 0 151px;
  }
}

@media (min-width: 1440px) {
  .backdrop {
    padding: 0 407px;
  }
}

.modal {
  width: 100%;
  padding: 40px 28px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  .modal {
    padding: 40px 72px;
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.avatarCont {
  position: relative;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .avatarCont {
    margin-bottom: 16px;
  }
}

.img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* position: relative; */
}

@media (min-width: 768px) {
  .img {
    width: 150px;
    height: 150px;
  }
}

.categoryCont {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(255, 244, 223, 1);
  border-radius: 30px;
  padding: 8px 14px;

  text-transform: capitalize;
  color: rgba(246, 184, 61, 1);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
}

@media (min-width: 768px) {
  .categoryCont {
    font-size: 14px;
    line-height: 18px;
  }
}

.upperCont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .upperCont {
    margin-bottom: 20px;
  }
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: rgba(43, 43, 42, 1);

  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .title {
    font-size: 18px;
    line-height: 24px;
  }
}

.ratingCont {
  display: flex;
  gap: 4px;
  justify-content: center;

  font-size: 14px;
  line-height: 20px;
}

.iconStar {
  color: rgba(255, 197, 49, 1);
}

.iconStarGrey {
  color: rgba(38, 38, 38, 0.05);
}

.infoCont {
  display: flex;
  gap: 27px;
  justify-content: center;

  margin-bottom: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
}

.info span {
  color: rgba(38, 38, 38, 0.5);
  font-size: 10px;
}

.comment {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  text-align: center;

  margin-bottom: 32px;
}

.price {
  color: rgba(43, 43, 42, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .price {
    font-size: 18px;
    line-height: 24px;
  }
}

.btnsCont {
  display: flex;
  flex-direction: row;
  gap: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.favBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 14px 43px;
  gap: 8px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(246, 184, 61, 1);
  white-space: nowrap;
}

.contactBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 14px 50px;
  color: rgba(246, 184, 61, 1);
  background-color: rgba(255, 244, 223, 1);

  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
}

/* ANIMATION */
.backdrop {
  opacity: 1;
  transition: opacity 300ms ease;
}

.modal {
  transform: scale(1);
  opacity: 1;
  transition: all 300ms ease;
}

.closing.backdrop {
  opacity: 0;
}

.closing.modal {
  transform: scale(0.95);
  opacity: 0;
}
