.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(38, 38, 38, 0.3);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .backdrop {
    padding: 0 151px;
  }
}

@media (min-width: 1440px) {
  .backdrop {
    padding: 0 407px;
  }
}

.modal {
  width: 100%;
  padding: 40px 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  .modal {
    padding: 60px;
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.avatarCont {
  position: relative;
}

.img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* position: relative; */
}

.categoryCont {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(255, 244, 223, 1);
  border-radius: 30px;
  padding: 8px 14px;

  text-transform: capitalize;
  color: rgba(246, 184, 61, 1);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: rgba(43, 43, 42, 1);
}

@media (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 28px;
  }
}

/* .text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
  text-align: center;
}

@media (min-width: 768px) {
  .text {
    margin-bottom: 28px;
  }
} */

.infoCont {
  display: flex;
  gap: 14px;

  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .infoCont {
    gap: 16px;
  }
}

@media (min-width: 1440px) {
  .infoCont {
    gap: 20px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
}

.info span {
  color: rgba(38, 38, 38, 0.5);
  font-size: 10px;
}

.comment {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;

  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .comment {
    margin-bottom: 24px;
  }
}

.price {
  color: rgba(43, 43, 42, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .price {
    font-size: 18px;
    line-height: 24px;
  }
}

.btnsCont {
  display: flex;
  flex-direction: row;
  gap: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.favBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 12px 31px;
  gap: 8px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(246, 184, 61, 1);
}

.contactBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 12px 37px;
  gap: 8px;
  color: rgba(246, 184, 61, 1);
  background-color: rgba(255, 244, 223, 1);
}

/* ANIMATION */
.backdrop {
  opacity: 1;
  transition: opacity 300ms ease;
}

.modal {
  transform: scale(1);
  opacity: 1;
  transition: all 300ms ease;
}

.closing.backdrop {
  opacity: 0;
}

.closing.modal {
  transform: scale(0.95);
  opacity: 0;
}
