.backdrop {
  position: fixed;
  inset: 0;
  z-index: 100;
}

.menu {
  width: 218px;
  box-sizing: border-box;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  padding: 236px 20px 40px;
  animation: slideIn 0.3s ease forwards;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 768px) {
  .menu {
    width: 374px;
    padding: 369px 49px 40px;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (min-width: 1440px) {
  .backdrop {
    display: none;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.menu.closing {
  animation: slideOut 0.3s ease-in forwards;
}

.closeBtn {
  width: 32px;
  position: absolute;
  top: 28px;
  right: 20px;
}

@media (min-width: 768px) {
  .closeBtn {
    width: 36px;
    top: 39px;
    right: 32px;
  }
}

.iconClose {
  color: rgba(38, 38, 38, 1);
}

@media (min-width: 768px) {
  .iconClose {
    width: 36px;
    height: 36px;
  }
}
