.custom__control {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 30px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-transform: capitalize;
  white-space: nowrap;
}

.custom__menu {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  margin-top: 4px;
  /* overflow: hidden; */
  padding: 12px;
}

.custom__option {
  color: rgba(38, 38, 38, 0.6);
  cursor: pointer;
  text-transform: capitalize;
}

.custom__option:not(:last-child) {
  margin-bottom: 8px;
}

.custom__option--is-selected {
  color: rgba(246, 184, 61, 1);
}

.selectWrapper:has(.custom__control--menu-is-open) .iconChevron {
  transform: rotate(180deg);
}
