.filterBar {
  width: 100%;
  position: relative;
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reactSelectContainer {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
}

@media (min-width: 768px) {
  .reactSelectContainer {
    font-size: 16px;
    line-height: 20px;
  }
}

.selectWrapper {
  position: relative;
}

.iconChevron {
  position: absolute;
  top: 12px;
  right: 12px;
}

.reactSelectContainer:active,
.iconChevron {
  transform: rotateX("180");
}

@media (min-width: 768px) {
  .iconChevron {
    top: 15px;
    right: 14px;
  }
}
