.item {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
}

@media (min-width: 768px) {
  .item {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}

.img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .img {
    margin-bottom: 28px;
  }
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;

  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .title {
    font-size: 20px;
    line-height: 26px;

    margin-bottom: 14px;
  }
}

.text {
  margin-bottom: 19px;
}

@media (min-width: 768px) {
  .text {
    margin-bottom: 28px;
  }
}

.bottomCont {
  display: flex;
  justify-content: space-between;
}

.date {
  color: rgba(38, 38, 38, 0.5);
}

.link {
  color: rgba(246, 184, 61, 1);
  text-decoration: underline;
}
