.userCard {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  position: relative;
  padding: 18px 20px 40px;
}

@media (min-width: 768px) {
  .userCard {
    padding: 40px;
  }
}

@media (min-width: 1440px) {
  .userCard {
    min-width: 520px;
    max-width: 928px;
  }
}

.editBtn {
  position: absolute;
  top: 18px;
  right: 20px;
}

@media (min-width: 768px) {
  .editBtn {
    top: 40px;
    right: 40px;
  }
}

.logOutBtn {
  width: auto;
  color: rgba(246, 184, 61, 1);
  background-color: rgba(255, 244, 223, 1);
  padding: 12px 28px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .logOutBtn {
    padding: 15px 35px;
    margin-top: 30px;
  }
}

@media (min-width: 1440px) {
  .logOutBtn {
    margin-top: 40px;
  }
}
