.filters {
  background-color: rgba(255, 244, 223, 1);
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 768px) {
  .filters {
    padding: 32px 40px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
}

@media (min-width: 1440px) {
  .filters {
    padding: 40px;
    flex-wrap: nowrap;
  }
}

.filters input {
  border: none;
}

.filters input::placeholder {
  color: rgba(38, 38, 38, 1);
}

.selectCont {
  display: flex;
  gap: 8px;
}

@media (min-width: 768px) {
  .selectCont {
    gap: 16px;
  }

  .selectKeyWord {
    min-width: 265px;
  }

  .selectCategory,
  .selectSex {
    min-width: 170px;
  }

  .selectType {
    max-width: 190px;
  }

  .selectLocation {
    max-width: 227px;
  }
}

.radioFilters {
  border-top: 1px solid rgba(38, 38, 38, 0.1);
  padding-top: 20px;
  width: 100%;
}

.selectCategory {
  z-index: 6;
}

.selectSex {
  z-index: 6;
}

.selectType {
  z-index: 5;
}
