.form {
  background-color: rgba(255, 255, 255, 1);
  padding: 27px 20px;

  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .form {
    padding: 30px 140px;
    border-radius: 60px;
  }
}

@media (min-width: 1440px) {
  .form {
    padding: 77px 84px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 768px) {
  .textContainer {
    gap: 16px;
  }
}

/* .title {
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.04em;
}

@media (min-width: 768px) {
  .title {
    font-size: 54px;
    line-height: 54px;
  }
} */

.formText {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
}

@media (min-width: 768px) {
  .formText {
    font-size: 18px;
    line-height: 22px;
  }
}

.input {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;

  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .input {
    padding: 16px;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 20px;
  }
}

.firstInput {
  margin-top: 20px;
}

.lastInput {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .firstInput {
    margin-top: 32px;
  }

  .lastInput {
    margin-bottom: 32px;
  }
}

.input::placeholder {
  color: rgba(38, 38, 38, 0.5);
}

.inputWrapper {
  width: 100%;
  position: relative;
}

.btnIcon {
  position: absolute;
  top: 12px;
  right: 12px;
}

@media (min-width: 768px) {
  .btnIcon {
    top: 15px;
    right: 16px;
  }
}

@media (min-width: 768px) {
  .iconEye {
    width: 22px;
    height: 22px;
  }
}

.btn {
  width: 100%;
  background-color: rgba(246, 184, 61, 1);
  padding: 12px 0;
  border-radius: 30px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

@media (min-width: 768px) {
  .btn {
    font-size: 16px;
    line-height: 20px;

    padding: 16px 0;
    margin-bottom: 16px;
  }
}

.lowerText {
  display: flex;
  justify-content: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

@media (min-width: 768px) {
  .lowerText {
    font-size: 14px;
    line-height: 20px;
  }
}

.link {
  color: rgba(246, 184, 61, 1);
  text-decoration: underline;
}
