@media (min-width: 1440px) {
  .container,
  .containerEmpty {
    padding-top: 40px;
  }
}

.tabs {
  display: flex;
  gap: 10px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}

.tab {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  width: 123px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

.activeTab {
  background-color: rgba(246, 184, 61, 1);
  color: rgba(255, 255, 255, 1);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    max-height: 600px;
    overflow-y: auto;
  }
}

@media (min-width: 1440px) {
  .list {
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .list .item {
    width: calc((100% - 20px) / 2);
  }
}

@media (min-width: 1440px) {
  .list .item {
    width: calc((100% - 24px) / 2);
  }
}

.emptyText {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;

  padding: 0 10px;
  margin-top: 60px;
  margin-bottom: 84px;
}

@media (min-width: 768px) {
  .emptyText {
    font-size: 16px;
    line-height: 20px;

    padding: 0 123px;
    margin-top: 160px;
    margin-bottom: 122px;
  }
}

@media (min-width: 1440px) {
  .emptyText {
    padding: 0 103px;
    margin-top: 160px;
    margin-bottom: 346px;
  }
}

.emptyText span {
  color: rgba(246, 184, 61, 1);
}
