section .iconLogo {
  width: 190px;
  height: 50px;
}

@media (min-width: 768px) {
  section .iconLogo {
    width: 374px;
    height: 100px;
  }
}

header .iconLogo {
  width: 76px;
  height: 20px;
}

@media (min-width: 768px) {
  header .iconLogo {
    width: 105px;
    height: 28px;
  }
}
