.section {
  padding: 60px 20px 88px;
}

@media (min-width: 768px) {
  .section {
    padding: 85px 32px 88px;
  }
}

@media (min-width: 1440px) {
  .section {
    padding: 96px 32px 80px;
  }
}

.title {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .title {
    margin-bottom: 44px;
  }
}

@media (min-width: 1440px) {
  .title {
    margin-bottom: 40px;
  }
}
