.section {
  background-image: url("../../assets/main-img.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 50%;
  object-fit: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
  .section {
    background-image: url("../../assets/main-img@2x.jpg");
  }
}

.iconMainLogo {
  width: 190px;
  height: 50px;
}
