.section {
  padding: 60px 20px 80px;
}

@media (min-width: 768px) {
  .section {
    padding: 96px 32px 80px;
  }
}

@media (min-width: 1440px) {
  .section {
    padding: 96px 64px 80px;
  }
}

.sectionContainer {
  display: flex;
  flex-direction: column;
}

.upperCont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .upperCont {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 44px;
  }
}

@media (min-width: 1440px) {
  .upperCont {
    margin-bottom: 60px;
  }
}

.list {
  margin-bottom: 44px;
}

@media (min-width: 768px) {
  .list {
    margin-bottom: 60px;
  }
}
