.section {
  padding: 20px;
}

@media (min-width: 768px) {
  .section {
    padding: 32px;
  }
}

@media (min-width: 1440px) {
  .sectionContainer {
    display: flex;
    gap: 32px;
  }

  /* .sectionContainer div, */
  .sectionContainer form {
    min-width: calc((100% - 32px) / 2);
  }
}
