.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1440px) {
  .list {
    row-gap: 28px;
  }
}

@media (min-width: 768px) {
  .list .item {
    width: calc((100% - 20px) / 2);
  }
}

@media (min-width: 1440px) {
  .list .item {
    width: calc((100% - 2 * 28px) / 3);
  }
}
