.headerMain {
  display: none;
}

.headerHome {
  position: absolute;
  z-index: 9999;
  width: 100%;
  top: 28px;

  padding: 0 40px;
}

@media (min-width: 768px) {
  .headerHome {
    top: 32px;
    padding: 0 64px;
  }
}

@media (min-width: 1440px) {
  .headerHome {
    padding: 0 96px;
  }
}

.header .container {
  padding: 32px 32px 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1440px) {
  .burgerMenu {
    display: none;
  }
}

.header .authNav {
  display: none;
}

.header .logOutBtn {
  display: none;
}

@media (min-width: 768px) {
  .header .authNav {
    display: flex;
  }

  .header .logOutBtn {
    display: flex;
  }
}

.rightContainer {
  display: flex;
  gap: 16px;
}

.headerHome .container {
  padding: 0;
}

.nav {
  display: none;
}

@media (min-width: 1440px) {
  .nav {
    display: flex;
  }
}
