.headerMain {
  display: none;
}

.header .container {
  padding: 32px 32px 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1440px) {
  .burgerMenu {
    display: none;
  }
}

.header .authNav {
  display: none;
}

.header .logOutBtn {
  display: none;
}

@media (min-width: 768px) {
  .header .authNav {
    display: flex;
  }

  .header .logOutBtn {
    display: flex;
  }
}

.rightContainer {
  display: flex;
  gap: 16px;
}
