.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media (min-width: 768px) {
  .wrapper {
    gap: 16px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    gap: 10px;
  }
}

.name {
  display: none;
}

@media (min-width: 768px) {
  .name {
    display: flex;
    color: rgba(18, 20, 23, 1);
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.03em;
  }
}

.userHome .name {
  color: rgba(255, 255, 255, 1);
}

aside .name {
  color: rgba(252, 252, 252, 1);
}

.avatar {
  background-color: rgba(255, 244, 223, 1);
  width: 36px;
  height: 36px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .avatar {
    min-width: 48px;
    min-height: 48px;
  }
}

@media (min-width: 1440px) {
  .avatar {
  }
}

.iconUser {
  color: rgba(246, 184, 61, 1);
}

@media (min-width: 768px) {
  .iconUser {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1440px) {
  .iconUser {
  }
}
