.authNav {
  width: 178px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

@media (min-width: 768px) {
  .authNav {
    width: auto;
    flex-direction: row;
  }
}

.link {
  width: 100%;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  border-radius: 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -3%;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .link {
    font-size: 16px;
    line-height: 20px;
  }
}

.login {
  background-color: rgba(246, 184, 61, 1);
  color: rgba(255, 255, 255, 1);
}

@media (min-width: 768px) {
  .login {
    /* padding: 15px 35px; */
    padding: 15px 0;
    width: 119px;
  }
}

.register {
  background-color: rgba(255, 244, 223, 1);
  color: rgba(246, 184, 61, 1);
}

@media (min-width: 768px) {
  .register {
    /* padding: 15px 20px; */
    padding: 15px 0;
    width: 149px;
  }
}
