.item {
  padding: 24px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
}

.img {
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
  max-height: 178px;

  margin-bottom: 24px;
}

.upperCont,
.ratingCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upperCont {
  margin-bottom: 8px;
}

.ratingCont {
  gap: 4px;
}

.iconStar {
  color: rgba(255, 197, 49, 1);
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .title {
    font-size: 18px;
    line-height: 24px;
  }
}

.infoCont {
  display: flex;
  gap: 14px;

  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .infoCont {
    gap: 16px;
  }
}

@media (min-width: 1440px) {
  .infoCont {
    gap: 20px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
}

.info span {
  color: rgba(38, 38, 38, 0.5);
  font-size: 10px;
}

.comment {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;

  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .comment {
    margin-bottom: 24px;
  }
}

.price {
  color: rgba(43, 43, 42, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .price {
    font-size: 18px;
    line-height: 24px;
  }
}

.btnsCont {
  display: flex;

  gap: 10px;
}

.moreBtn {
  background-color: rgba(246, 184, 61, 1);
  padding: 14px 0;
  border-radius: 30px;
  width: 100%;
  max-width: 231px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: rgba(255, 255, 255, 1);
}

@media (min-width: 768px) {
  .moreBtn {
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
  }
}

.favBtn {
  border-radius: 30px;
  background-color: rgba(255, 244, 223, 1);
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .favBtn {
    min-width: 48px;
    max-width: 48px;
    height: 48px;
  }
}

.iconHeart {
  color: rgba(246, 184, 61, 1);
}
