.btn {
  background-color: rgba(246, 184, 61, 1);
  color: rgba(255, 255, 255, 1);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12px 60px;
  border-radius: 30px;
  white-space: nowrap;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.btnYellow {
  background-color: rgba(255, 244, 223, 1);
  color: rgba(246, 184, 61, 1);
}

@media (min-width: 768px) {
  .btn {
    padding: 15px 35px;

    font-size: 16px;
    line-height: 20px;
  }
}
