header {
  position: absolute;
  z-index: 9999;
  width: 100%;
  top: 28px;

  padding: 0 40px;
}

@media (min-width: 768px) {
  header {
    top: 32px;
    padding: 0 64px;
  }
}

@media (min-width: 1440px) {
  header {
    padding: 0 96px;
  }
}

.section {
  color: rgba(255, 255, 255, 1);
  padding: 10px 20px;
}

@media (min-width: 768px) {
  .section {
    padding: 16px 32px;
  }
}

.colorBg {
  background-color: rgba(246, 184, 61, 1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 118px 20px 50px;
  height: 390px;

  position: relative;
}

@media (min-width: 768px) {
  .colorBg {
    padding: 178px 32px 44px;
    height: 496px;
    border-radius: 60px;

    align-items: flex-end;
    gap: 32px;
  }
}

@media (min-width: 1440px) {
  .colorBg {
    padding: 0 64px 32px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 384px;
  }
}

.mainTitle {
  font-weight: 700;
  font-size: 50px;
  line-height: 48px;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

@media (min-width: 768px) {
  .mainTitle {
    font-size: 80px;
    line-height: 77px;
    height: 154px;
  }
}

@media (min-width: 1440px) {
  .mainTitle {
    font-size: 90px;
    line-height: 87px;
    max-width: 760px;
  }
}

.lowerText {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
}

@media (min-width: 768px) {
  .lowerText {
    font-size: 18px;
    line-height: 22px;

    width: 255px;
  }
}

.mainTitle span {
  color: rgba(255, 255, 255, 0.4);
}

.imgWrapper {
  width: 100%;
  height: 402px;
  overflow: hidden;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .imgWrapper {
    height: 496px;
    border-radius: 60px;
  }
}

@media (min-width: 1440px) {
  .imgWrapper {
    height: 384px;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
