aside .navGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

aside .navGroup .link {
  border: 1px solid rgba(38, 38, 38, 0.15);
  padding: 15px 0;
  width: 119px;
  display: flex;
  justify-content: center;
  border-radius: 30px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(38, 38, 38, 1);
}

@media (min-width: 768px) {
  aside .navGroup .link {
    width: 120px;

    font-size: 16px;
    line-height: 20px;
  }
}

aside .navWhite .active {
  border: 1px solid rgba(246, 184, 61, 1);
}

/* FOR DESKTOP HEADER */

header .navGroup {
  display: flex;
  gap: 10px;
}

header .navGroup .link {
  padding: 15px 20px;
  border-radius: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
}

.navWhite .link {
  border: 1px solid rgba(38, 38, 38, 0.15);

  color: rgba(38, 38, 38, 1);
}

.navWhite .active {
  border: 1px solid rgba(246, 184, 61, 1);
}

/* YELLOW */

.navYellow .link {
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
}
