aside .navGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

aside .navGroup .link {
  border: 1px solid rgba(38, 38, 38, 0.15);
  padding: 15px 0;
  width: 119px;
  display: flex;
  justify-content: center;
  border-radius: 30px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: 768px) {
  aside .navGroup .link {
    width: 120px;

    font-size: 16px;
    line-height: 20px;
  }
}

aside .navGroup .active {
  border: 1px solid rgba(246, 184, 61, 1);
}
