aside .navGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

aside .navGroup .link {
  padding: 15px 0;
  width: 119px;
  display: flex;
  justify-content: center;
  border-radius: 30px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: 768px) {
  aside .navGroup .link {
    width: 120px;

    font-size: 16px;
    line-height: 20px;
  }
}

header .navWhite .active {
  border: 1px solid rgba(246, 184, 61, 1);
}

header .navYellow .active {
  border: 1px solid rgba(255, 255, 255, 1);
}

/* FOR DESKTOP HEADER */

@media (min-width: 1440px) {
  header .navGroup {
    display: flex;
    gap: 10px;
  }

  header .navGroup .link {
    padding: 15px 20px;
    border-radius: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
  }
}

header aside .navWhite .active {
  border: 1px solid rgba(246, 184, 61, 1);
}

header aside .navYellow .link {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 1);
}

header .navYellow .link {
  border: 1px solid rgba(38, 38, 38, 0.15);
  color: rgba(38, 38, 38, 1);
}

header aside .navYellow .active {
  border: 1px solid rgba(255, 255, 255, 1);
}

header aside .navWhite .link {
  border: 1px solid rgba(38, 38, 38, 0.15);
  color: rgba(38, 38, 38, 1);
}

header .navWhite .link {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 1);
}
