.userContainer {
  background-color: rgba(246, 184, 61, 1);
  width: 80px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  gap: 4px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .userContainer {
    margin-bottom: 0;
    position: absolute;
  }
}

.userContainer .iconUser {
  color: rgba(255, 255, 255, 1);
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 28px;
}

@media (min-width: 768px) {
  .avatarContainer {
    margin-bottom: 20px;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarEmpty {
  background-color: rgba(255, 244, 223, 1);
  border-radius: 50%;
  width: 94px;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(246, 184, 61, 1);
}

@media (min-width: 768px) {
  .avatarEmpty {
    width: 110px;
    height: 110px;
  }
}

.avatar {
  border-radius: 50%;
  width: 94px;
  height: 94px;
  display: flex;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .avatar {
    width: 110px;
    height: 110px;
    margin-bottom: 20px;
  }
}

.avatarText {
  line-height: 16px;
  letter-spacing: -0, 02em;
  text-decoration: underline;
  text-decoration-style: solid;
}

.infoTitle {
  width: 100%;
  text-align: start;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .infoTitle {
    font-size: 18px;
    line-height: 24px;
  }
}

.info {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;

  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid rgba(246, 184, 61, 1);
}

@media (min-width: 768px) {
  .info {
    font-size: 16px;
    line-height: 20px;

    padding: 16px;
    width: 305px;
  }
}

.textCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .textCont {
    gap: 14px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.empty {
  border: 1px solid rgba(38, 38, 38, 0.15);
}
