.section {
  padding: 16px 20px 20px;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .section {
    padding: 32px;
  }
}

.container {
  background-color: rgba(246, 184, 61, 1);
  /* padding: 245px 33px; */
  border-radius: 30px;
  height: 100vh;

  font-weight: 800;
  font-size: 120px;
  color: rgba(255, 255, 255, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .container {
    /* padding: 221px 32px; */
    gap: 40px;

    font-size: 300px;
  }
}

@media (min-width: 1440x) {
  .container {
    /* padding: 109px 283px; */
  }
}

.img {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 109px;
  height: 109px;
}

@media (min-width: 768px) {
  .img {
    width: 280px;
    height: 280px;
  }
}

.textNotFound {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (min-width: 768px) {
  .textNotFound {
    display: flex;
    align-items: center;
    gap: 0;
  }
}

.toHomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -3%;
}

@media (min-width: 768px) {
  .text {
    font-size: 24px;
    line-height: 28px;
  }
}

.link {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -3%;

  background-color: rgba(255, 244, 223, 1);
  color: rgba(246, 184, 61, 1);
  padding: 12px 30px;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .link {
    font-size: 16px;
    line-height: 20px;
  }
}
